In [11]:
# 1.Unique Words in a Sentence

sentence = input("Enter sentence: ")
words = sentence.split()          # split into words
unique_words = set(words)         # remove duplicates

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: hi
Unique words count: 1
Unique words: {'hi'}

In [12]:
# 2.Highest Salary from Employee Data

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_name = ""
highest_salary = 0

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_name = name

print("Highest Salary:", highest_name, "-", highest_salary)

Highest Salary: Ravi - 75000

In [13]:
# 3.Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

max_val = numbers[0]
min_val = numbers[0]

for n in numbers:
    if n > max_val:
        max_val = n
    if n < min_val:
        min_val = n

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [14]:
# 4.Count Products Above Price Threshold

prices = [450, 1200, 899, 1500, 300]

count = 0

for p in prices:
    if p > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [15]:
# 5.Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_days = 0

for day in attendance:
    if day == "P":
        present_days += 1

percentage = (present_days / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [16]:
# 6.Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [17]:
# 7.count Character Frequency

text = "python"

freq = {}

for ch in text:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print("Character frequency:", freq)

Character frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [18]:
# 8.Convert List to Tuple

my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [19]:
# 9.Check if Key Exists in Dictionary

employees_check = {
    "Ravi": 75000,
    "Anita": 68000
}

key_to_check = "Ravi"

if key_to_check in employees_check:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

In [20]:
# 10.Calculate Average Marks

marks = [70, 80, 65, 75]

total = 0

for m in marks:
    total += m

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5